{% extends 'avitoapp/base.html' %}



{% block title %}
	Профиль пользователя
{% endblock %}


{% block body %}
    <style>

        body {
            background-color: #f6f7f9; /* Замените #ffffff на цвет, который вы хотите использовать */
        }

    .image {
        block-size: 150px;
    }

    .button-cursor {
        cursor: pointer;
    }

    </style>
    <div>
        <h2>Профиль пользователя</h2>

        <div>
            <p>Имя: {{ profile_user.username }}</p>
            <p>Время регистрации {{ profile_user.date_joined }}</p>
        </div>

        <div>
            <p>
                <button type="button" onclick=history.back() class="button-cursor">Назад</button>
            </p>
        </div>

        <h3>Объявления пользователя:</h3>
        <p>
            {% for ad in ads %}
                {% if ad.preview %}
                    <img src="{{ ad.preview.url }}" alt="{{ ad.preview.name }}" class="image">
                {% endif %}
                <div>Названия: {{ ad.name }}</div>
                <div>Описание: {{ ad.description }}</div>
                <div>Цена: {{ ad.price }}</div>
                <div>Адрес: {{ ad.address }}</div>
                <div>Время публикации: {{ ad.created_at }}</div>
                <p>--------------------------------------</p>
            {% endfor %}
        </p>
    </div>
{% endblock %}