{% block title %}
    Ваш профиль
{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #f6f7f9;
        }

        .search {
            height: 45px;
            display: flex;
            justify-content: center;
        }

        .search-button {
            margin-left: 10px;
            vertical-align: middle;
            border-radius: 5px;
            background-color: rgb(220, 222, 224);
            border: 1px;
            height: 26px;
            cursor: pointer;
        }

        .button {
            display: flex;
            justify-content: center;
            border-radius: 5px;
        }

        .button button:hover {
            cursor: pointer;
        }

        a {
            color: blue;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .indentation {
            margin-left: 15px;
        }

        .image {
            block-size: 150px;
        }

        .button-cursor {
            cursor: pointer;
            background-color: #867DFF;
            color: #fff;
            padding: 10px 12px;
            border: none;
            border-radius: 4px;
            margin-left: 10px;
        }

        .custom-bg {
            margin-left: 0px;
            background-color: #867DFF;
            height: 40px;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            line-height: 40px;
        }

        .ads-container {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: flex-start;
        }

        .ad-card {
            max-width: 2060px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            text-align: center;
            margin-bottom: 15px;
        }

        .no-preview-text {
            color: #555;
            margin-top: 5px;
        }
    </style>

    <h2 class="bio">Имя: {{ request.user.username }}</h2>
    <h3 class="bio">Дата регистрации: {{ request.user.date_joined }}</h3>

    <div>
        <p>
            <form method="get" action="{% url 'avitoapp:main-page'%}">
                <button type="submit" class="button-cursor">Назад</button>
            </form>
        </p>
    </div>

    <h2>Активные объявления</h2>
    <div class="ads-container">
        {% for ad in ads %}
            <div class="ad-card">
                {% if ad.preview %}
                    <img src="{{ ad.preview.url }}" alt="{{ ad.preview.name }}" class="image">
                {% endif %}
                <div>Названия: {{ ad.name }}</div>
                <div>Описание: {{ ad.description }}</div>
                <div>Цена: {{ ad.price }}</div>
                <div>Адрес: {{ ad.address }}</div>
                <div>Время публикации: {{ ad.created_at }}</div>
                <div>
                    <p>
                        <form method="get" action="{% url 'avitoapp:update' pk=ad.pk %}">
                            <button type="submit" class="button-cursor">Редактировать</button>
                        </form>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
